body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #141519!important;
    font-family: 'Overpass', sans-serif;
}

.modal-body {
    background-color: #202731!important;
    color: #fcffff;
    border-radius: 5px;
}
.thankyou-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circle {
    background-color: #2c2c2e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
.options {
    background-color: #2c2c2e!important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px!important;
    border: none!important;
    justify-self: center;
}
.options:hover {
    background-color: orange!important;
}
.selected {
    background-color: #7c8898!important;
}
.option-div {
    display: flex;
    justify-content: space-between
}
label {
    font-size: 15px;
}
.submit {
    margin-top: 5px;
    background-color: orange!important;
    border: 0!important;
    border-radius: 20px!important;
    font-family: 'Overpass', sans-serif;
    width: 100%;
    font-size: 10px;
}
.submit:hover {
    color: orange!important;
    background-color: white!important;
}
.result {
    background-color: #2c2c2e;
    border-radius: 20px!important;
    color: orange!important;
    padding: 0;
    justify-self: center;
}
